<div ng-controller="LeerlingLogInCtrl">


<!--
<form>
    
    Naam: <input type="text" ng-model="naam">
    Email: <input type="text" ng-model="email">
    Code: <input type="text" ng-model="code">
    
    <input type="button" ng-click="login()" value="Log In">
    
   </form> 
  -->
      
     <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Log in: </h2>
        <label for="naam" class="sr-only">Naam</label>
        <input type="text" id="naam" ng-model="naam" class="form-control" placeholder="naam" required autofocus>
        
         <label for="code" class="sr-only">Code</label>
        <input type="text" id="code" ng-model="code" class="form-control" placeholder="code" required autofocus>
       
       
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">Log in</button>
      </form>

    </div> <!-- /container -->
    
    

</div>