<div class="container">
<!--<button ng-click="StopInterval()" class="btn btn-danger" value="stop interval">Stop Polling</button>
<button ng-click="Volgende()" class="btn btn-primary" value="Volgende Vraag" ng-disabled="CanNotNextVraag">Volgende vraag</button>
-->
 <p class="text-right"><a href="#login" ng-click="logout">Log out</a></p>


<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title"> {{vraag}} </h2>
  </div>
  <div class="panel-body">
   
   <!-- Toon de juiste deeltemplate, afhankelijk van type vraag -->
<div ng-include src="template.url">
            
             
</div>
    
  </div>
</div>



</div>

